body {
  font-family: sans-serif;
  margin: 20px;
  text-align: center;
}


.pokemon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.pokemon-list :hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.pokemon-detail{
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pokemon-detail img { 
  width: 200px;
  height: 200px;
  border-radius: 10px; 
  margin-bottom: 20px;
}

.pokemon-detail h2 {  
  font-size: 24px;
  margin-bottom: 10px;  
  color: #333;
}

.pokemon-detail p { 
  font-size: 16px;
  margin-bottom: 5px;  
  color: #666;  
  line-height: 1.5;

}

.pokemon-card {
  border: 1px solid #ccc;
  padding: 25px;
  margin: 15px;
  width: 200px;
  text-align: center;
  flex : 1 0 21%;
  border-radius: 10px;
}

.pokemon-card img {
  width: 100px;
}
